	body {
		height: 100%;
		width: 100%;
	}
	
	.div1 {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 700px;
	}
	
	.div2 {
		background-image: url(https://imgssl.yhd.com/V01/M01/47/3F/ChEi3VjwyzCAE_i8AACeYUoCpec98400.jpg);
		background-repeat: no-repeat;
		background-position-y: center;
		background-position-x: 20%;
		position: absolute;
		height: 75%;
		width: 100%;
		top: 100px;
		bottom: 100px;
		left: 0;
		right: 0;
		z-index: 0;
	}
	
	.div3 {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		top: 700px;
		color: #333;
		text-align: center;
	}
	
	.right {
		position: absolute;
		top: 10px;
		right: 0;
	}
	
	.deng {
		position: absolute;
		top: 0;
		right: 10%;
	}
	
	a[class="b"] {
		color: #06c;
		text-decoration: none;
	}
	
	a[class="b"]:hover {
		color: #f60;
	}
	
	a[class="s"]:hover {
		color: red;
	}
	
	a[class="wj"]: {
		color: #999;
		float: right;
	}
	
	input[type=submit] {
		width: 330px;
		height: 52px;
		background-color: red;
		font-size: 20px;
		color: white;
	}
	
	input[type=text] {
		width: 330px;
		height: 40px;
		line-height: 24px;
	}
	
	input[type=password] {
		width: 330px;
		height: 40px;
		line-height: 24px;
		font-size: 15px;
	}
	
	.div3 a {
		text-decoration: none;
		color: #333;
	}
	
	.div3 a:hover {
		text-decoration: none;
		color: #c00;
	}
	
	.wl li {
		float: left;
		padding-left: 25px;
		list-style-type: none;
	}
	
	.wl a {
		text-decoration: none;
		border: 0;
	}
	
	.wl img {
		border: 0;
		width: 35px;
		height: 32px;
	}
	
	.getmore {
		float: right;
	}
	
	.more {
		display: none;
	}
	
	.getmore:hover .more {
		display: block;
	}
	
	.deng2 {
		position: absolute;
		top: 400px;
		right: 0px;
	}
	
	.deng2>img {
		position: absolute;
		right: 20px;
	}
	
	#er>img {
		border: 0;
		height: 370px;
		width: 370px;
	}
	
	#er {
		background-color: white;
		position: relative;
		bottom: 410px;
		right: 105px;
		z-index: 10;
		display: none;
	}
	
	.deng2:hover #er {
		display: block;
	}
